<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DAO.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>PizzaDB</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>123456</value>
            </setting>
        </DAO.Properties.Settings>
    </userSettings>
</configuration>